
html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5;margin:0}
h1{font-size:36px}
h2{font-size:30px}
td,tr {Padding:10px}
hr{height:0;border:0;border-top:1px solid #eee;margin:20px 0}
a{color:white;text-decoration:none}
.m1-btn{border:none;display:inline-block;outline:0;padding:6px 16px;vertical-align:middle;
text-decoration:none ;color:#fff;background-color:#000;text-align:center;transition:.2s ease-out;cursor:pointer;white-space:nowrap}

.m1-btn:hover,.m1-btn-floating:hover{
box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.m1-btn-floating{
display:inline-block;text-align:center;color:#fff;background-color:#000;position:relative;overflow:hidden;z-index:1;
padding:0;border-radius:50%;transition:.3s;cursor:pointer;vertical-align:middle;font-size:24px}

.m1-btn-floating{width:40px;height:40px;line-height:40px}


ul.m1-ul{list-style-type:none;padding:0;margin:0;}


.m1-image{position:relative}


.m1-topnav a{padding:0 8px;border-bottom:3px solid transparent;
-webkit-transition:all 0.3s ease;-moz-transition:all 0.3s ease;-o-transition:all 0.3s ease;transition:all 0.3s ease;}
.m1-topnav a:hover{border-bottom:3px solid #fff}
.m1-sidenav{height:100%;width:200px;position:fixed;z-index:1;overflow:auto}
.m1-opennav:hover,.m1-closenav:hover{cursor:pointer;opacity:0.8}
.m1-sidenav a{padding:4px 16px}
.m1-sidenav a:hover,.m1-sidenav a:focus{background-color:#ccc}
.m1-sidenav a,.m1-dropnav a{display:block;transition:.3s}
.m1-dropnav a:hover{text-decoration:underline !important}

.m1-modal{
display:none;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;
background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.m1-modal:target{display:table;position:absolute;overflow:scroll}
.m1-modal-dialog{display:table-cell;vertical-align:middle}
.m1-modal-dialog .m1-modal-content{
margin:auto;background-color:#f3f3f3;position:relative;padding:0;outline:0;border:1px #555 solid;width:600px}
.m1-closebtn{text-decoration:none;float:right;font-size:24px;font-weight:bold;color:inherit}
.m1-closebtn:hover,.m1-closebtn:focus{color:#000;text-decoration:none;cursor:pointer}


.m1-group{position:relative;margin-top:45px;margin-bottom:45px}
.m1-input,.m1-textarea{padding:10px;display:block;border:none;border-bottom:1px solid #808080}
.m1-input:focus ~ .m1-input:valid ~ .m1-label,.m1-textarea:focus ~ .m1-label,.m1-textarea:valid ~ .m1-label{
top:-20px;font-size:14px;color:#888}
.m1-label{position:absolute;bottom:40px;left:0;color:#009688;transition:0.2s ease all;-moz-transition:0.2s ease all;-webkit-transition:0.2s ease all}

.m1-responsive{overflow-x:auto}
.m1-container:after, .m1-row:after,.m1-row-padding:after,.m1-topnav:after,.m1-clear:after{content:"";display:table;clear:both}
.m1-half,.m1-third,.m1-twothird,.m1-quarter{float:left;width:100%}
.m1-half,.m1-third,.m1-twothird,.m1-quarter{width:99.99999%}
@media only screen and (min-width:993px){
.m1-quarter{width:24.99999%}
.m1-third{width:33.33333%}
.m1-half{width:49.99999%}}

.m1-content{max-width:980px;margin:auto}
@media (min-width:992px){.m1-modal-dialog .m1-modal-content{width:900px}}

.m1-large{font-size:18px !important}
.m1-xlarge{font-size:24px !important}

.m1-wide{font-family:"Segoe UI",Arial,sans-serif;letter-spacing:4px}
.m1-row-padding,.m1-row-padding .m1-half,.m1-row-padding .m1-third,.m1-row-padding .m1-twothird,.m1-row-padding .m1-quarter,
.m1-row-padding .m1-col{padding:1px 8px}

/* CONTAINERS */
.m1-container{padding:1px 16px}
.m1-section{margin-top:16px;margin-bottom:16px}

.m1-card{border:1px solid #ccc}
.m1-card-4{box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important}



.m1-animate-opacity{
-webkit-animation-name:opac;-webkit-animation-duration:4s;animation-name:opac;animation-duration:4s}
@-webkit-keyframes opac{from{opacity:0} to{opacity:1}}
@keyframes opac{from{opacity:0} to{opacity:1}}

.m1-animate-top{
position:relative;-webkit-animation-name:animatetop;-webkit-animation-duration:0.4s;animation-name:animatetop;animation-duration:0.4s}
@-webkit-keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}

.m1-animate-left{
-webkit-animation-name:animateleft;-webkit-animation-duration:0.4s;animation-name:animateleft;animation-duration:0.4s}
@-webkit-keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:0.9}}
@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:0.9}}
@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:0.9}}



.m1-text-light-blue{color:#87CEEB !important}.m1-light-blue{color:#000 !important;background-color:#87CEEB !important}

.m1-text-teal{color:#009688 !important}.m1-teal{color:#fff !important;background-color:#009688 !important}

.m1-text-black{color:#000 !important}.m1-black{color:#D63333 !important;background-color:#D63333 !important}
.m1-white{color:#000 !important;background-color:#ffffff !important}


.m1-tooltip .m1-text{display:none}
.m1-tooltip:hover .m1-text{display:inline-block}
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}


ul { 
		
		margin:4px;
		padding:4px;
		
}
ul li  {
		float:none;
}